@font-face {
    font-family: 'UnifrakturCook-Bold';
    src: url('fonts/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Augusta';
    src: url('fonts/Augusta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
